.container {
    width: 120rem;
    margin: 8rem auto;
    background-color: var(--grey-dark-3);
    box-shadow: var(--box-shadow);
    @media only screen and (max-width:$bp-largest) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}

.header {
    font-size: 1.3rem;
    height: 7rem;
    background-color: var(--grey-light-1);
    border-bottom: 2px solid var(--grey-light-3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
    @media only screen and (max-width: $bp-med) {
        flex-direction: column;
    }
}

.side-bar {
    flex:0 0 18%;//0 grow, 0 shrink, occupy 18% the content container width
    background-color: var(--grey-dark-1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    background-color: #fff;
    flex: 1; //grow as much as possible
}